h1, h2 {
  margin: 0;
}

input[type=text],
input[type=url]
{
  background-color: inherit;
  padding: 10px 0;
  font-family: sans-serif;
  vertical-align: middle;
  font-size: 26px;
  cursor: pointer;
  color: inherit;
}

input[type=color] {
  background-color: inherit;
  border: none;
}

label {
  font-weight: bold;
}

input {
  border: none;
  border-bottom: solid 1px var(--white);
  width: 100%;
}

input:focus-visible {
  border: none;
  border-bottom: solid 1px var(--white);
  outline: none;
}

form {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10% 0;
}

::backdrop {
  background-color: var(--grey-dark);
  opacity: 0.8;
}

.modal__header {
  padding-left: 5%;
  display: flex;
  color: var(--white);
  justify-content: space-between;
}

.loader {
  display: block;
  width: 1em;
  height: 1em;

  border-radius: 50%;
  border: 0.25em solid var(--grey-dark);
  border-top-color: var(--white); /* overrides top color to stand out */

  animation: 2s infinite loader;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

dialog {
  background-color: var(--grey-medium);
  border-radius: 10px;
  font-family: sans-serif;
  width: 50%;
  height: 60%;
}

dialog > div {
  padding: 2% 5%;
}

.btn-group {
  display: flex;
  align-items: center;
}
