:root {
  --white: #ffffff;
  --grey-light: #333333;
  --grey-medium: #222020;
  --grey-dark: #030303;
}

button, input {
  background-color: inherit;
  border: none;
  font-family: sans-serif;
  color: var(--white);
  font-size: xxx-large;
  cursor: pointer;
}

button:hover {
  color: var(--grey-light);
}

body {
  padding: 5px 10px;
  background-color: var(--grey-dark);
  color: var(--white);
  font-family: sans-serif;
}

label {
  color: var(--white);
}

table {
  table-layout: fixed;
  width: 100%;
  height: 90vh;
}

th {
  white-space: nowrap;
  overflow: scroll;
}

td, tr, th, table, thead, tbody {
  border-spacing: 0;
  padding: 0;
  border: none;
  margin: auto;
}

tbody > tr:nth-child(odd) {
  background-color: var(--grey-medium);
}

tbody > tr:nth-child(even) {
  background-color: var(--grey-light);
}

.current-day {
  border-left: solid 1px var(--white);
  border-right: solid 1px var(--white);
}

.current-time {
  border: solid 1px var(--white);
}

dialog {
  background-color: var(--grey-dark);
  border-radius: 10px;
  font-family: sans-serif;
}

::backdrop {
  background-color: var(--grey-dark);
  opacity: 0.8;
}
