body {
  background-color: #030303;
  color: #ffffff;
  font-family: sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
  height: 90vh;
}

td, tr, th, table, thead, tbody {
  border-spacing: 0;
  padding: 0;
  border: none;
  margin: auto;
}


tbody > tr:nth-child(odd) {
  background-color: #222020;
}

tbody > tr:nth-child(even) {
  background-color: #333333;
}

thead > tr > th:nth-child(3),
tbody > tr > td:nth-child(3) {
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
}

/*
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}

h2 {
  text-align: center;
  height: 10%;
}

main > section {
  width: 100%;
}

main > section > section:nth-child(odd) {
  background-color: #222020;
}

main > section > section:nth-child(even) {
  background-color: #333333;
}

.hour {
  height: 10%;
  background-color: blue;
}*/
